openapi: 3.2.0
info:
  title: Companies API
  description: Company resource operations.
  termsOfService: https://runbuggy.com/terms/
  contact:
    name: Support
    email: support@runbuggy.com
  license:
    name: Copyright © RunBuggy 2020
    url: https://runbuggy.com/terms/
  version: '1.0'
servers:
- url: https://apps.runbuggy.com/staging-v2/api
tags:
- name: Companies
  description: Companies operations.
paths:
  /companies/authorized/companies:
    get:
      tags:
      - Companies
      summary: Retrieve authorized companies
      description: Retrieve authorized companies.
      operationId: getCompaniesThatAuthorizedCompanyUsingGET
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Company'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      deprecated: false
      security:
      - Authorization: []
      servers:
      - url: https://apps.runbuggy.com/staging-v2/api
  /companies/authorized/companies/findByUserName:
    get:
      tags:
      - Companies
      summary: Retrieve authorized companies by user
      description: Retrieve authorized companies by username.
      operationId: getCompaniesThatAuthorizedCompanyIdByUserIdUsingGET
      parameters:
      - name: username
        in: query
        description: username
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Company'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      deprecated: false
      security:
      - Authorization: []
      servers:
      - url: https://apps.runbuggy.com/staging-v2/api
components:
  schemas:
    Company:
      type: object
      title: Company
      description: A company.
      properties:
        id:
          type: string
          description: The id of the company
          x-examples:
          - c0ef80ce-2579-4682-af4f-c1d29457848a
        name:
          type: string
          description: The name of the company
          x-examples:
          - Auto Land
        type:
          type: string
          enum:
          - DEALER
          - AUCTION
          description: See enumeration for possible values.
  securitySchemes:
    Authorization:
      type: apiKey
      description: See the [Authentication Guide](/docs/shipping/b6b6c2d4906e9-authentication).
      name: Authorization
      in: header
